<h1>Welcome to Chess.pl</h1>

<p><b>Available actions:</b></p>
<ul>
  <li><%= link_to "Games list", playerGames_path_url(:id => current_player.id) %>></li>
  <li><%= link_to "Account details", current_player %></li>
  <li>Start a new game</li>
</ul>