<span class="navbar-text">
    <% if player_signed_in? %>
    <div> Witaj <%= current_player.username %> </div>
    <%= button_to "Wyloguj", destroy_player_session_path, method: :delete %>
    <% else %>
        <%= button_to "Zaloguj", new_player_session_path %>
    <% end %>
   </span>